body {
    background-color: #a9b388;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    font-size: 1.5vw;
}


#logo  {
    margin: 0px;
    padding: 8px;
    font-family: "Fredoka One", sans-serif;
    width: 40%;
    border-radius: 30%;
    
}

ul{
    margin: 0px;
}

body > header {
    background-color:#5f6f52 ;
    color: #f9ebc7;
    display: flex;
    height: 12vh;
    align-items: center;
    justify-content: space-around;
}

body > header > nav > ul {
    list-style: none;
    text-decoration: none;
}

#nav-ul{
display: flex;
}

#nav-ul > li {
    color: #f9ebc7;
    padding: 8px;
    margin: 16px;
}

.navbutton{
display: flex;
justify-content: space-around;
 color: #f9ebc7;
 text-decoration: none;
 padding: 12px;
 border: 1px solid #f9ebc7;
 border-radius: 10%;
}

body > main article{
    width: 90%;
    margin: auto;
}

#main-content{
    display: flex;
    justify-content: space-around;
}

#main-content > div {
width: 70%;
}
form{
    text-align: center;
}

h2{
    text-align: center;
}

body > footer {
background-color: #5f6f52;
display:flex;
}

img{
    display: flex;
    flex-direction: row;
}

#footer-ul{
    display: flex;
    list-style: none;

}

#footer-ul > div > ul{
    margin-left: 12px;
}

#footer-ul > div > li > a {
text-decoration: none;
color: #f9ebc7;
}